<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="https://github.com/code-storm" title="code-storm Github" target="_blank">Test
    <sub>by</sub>
    <img src="https://avatars2.githubusercontent.com/u/15701284?s=460&amp;v=4" width="25px" alt="code-storm">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline mt-2 mt-md-0">
    </form>
  </div>
</nav>